:root {
    --orange: #79C121;
    --darkorange: #1C913C;
    --form: #EEF4E6;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
  }

  /* umum */

  .bg-danako{
    background: var(--darkorange);
  }

  .bg-danako-primary{
    background: var(--orange);
  }

  .form-bg{
    background: var(--form);
  }

  .color-primary{
    color: var(--orange);
  }


  .pb-80{
    padding-bottom: 80px;
  }


/* navbar */
  .navbar-light .navbar-nav .nav-link{
      padding-left: 20px;
      padding-right: 20px;
  }
  
  
  .navbar-nav .nav-item:nth-last-of-type(2) .nav-link {
    margin-right: 40px; /* memberikan jarak 10px antara link terakhir dan tombol Toggle Akun */
  }
  
  
  .navbar-nav .nav-item form input[type="search"] {
    width: 476px;
    height: 40px;
    background: #D9D9D9;
    background-image: url('../img/search.png'); /* Ganti path/to/search-icon.png dengan path ke file ikon search */
    background-repeat: no-repeat;
    background-position: right 10px center ; 
    background-size: 20px; /* Atur ukuran ikon search */
    border-radius: 30px;
    padding: 5px 15px;
    border: none;
    font-size: 16px;
    color: #444;
    box-shadow: none;
  }

  
 

  
  /* media query */
  @media only screen and (max-width: 767px) {
    .navbar-nav .nav-item form {
      display: flex;
      flex-direction: column;
    }
    .navbar-nav .nav-link {
      padding-left: 10px;
      padding-right: 10px;
    }
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
    .navbar-nav .nav-item form {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-nav .nav-item form input[type="search"] {
      background-size: 16px;
    }
    .navbar-nav .nav-item:last-child button {
      margin-right: 10px;
    }

  }

  @media (max-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
      padding-left: 0;
    }
  
    .navbar-nav .nav-item:nth-last-of-type(2) .nav-link {
      margin-right: 0;
    }
  
    .navbar-nav .nav-item form input[type="search"] {
      width: 100%;
      margin-bottom: 10px;
    }
  }
/* end navbar */
  
  
.container .title span {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  align-items: center;
  letter-spacing: -0.13px;
  color: #1C913C;
}

@media screen and (max-width: 767px) {
  .container .title span {
    font-size: 32px;
    margin-left: 5px;
  }
}



  
/* scroling */
  .container .slider{
    padding-top: 50px;
  }
  
  .slider h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    /* or 83% */
    letter-spacing: -0.13px;
  }
  .title-gren{
    color: var(--orange);; 
  }
  
  .cards-category {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .cards-category .card {
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
  }
  
  .cards-category .card:hover {
    color: var(--white);
    background: var(--orange);
  }
  
  .cards-category .card .card-title {
    font-size: 20px;
  }
  
  .cards-category .card .card-content {
    margin: 20px 0;
    max-width: 85%;
  }
  
  .cards-category .card .card-link-wrapper {
    margin-top: auto;
  }
  
  .cards-category .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--orange);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
  }
  
  .cards-category .card:hover .card-link {
    background: var(--darkorange);
  }
  
  .cards-category::-webkit-scrollbar {
    height: 12px;
  }
  
  .cards-category::-webkit-scrollbar-thumb,
  .cards-category::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .cards-category::-webkit-scrollbar-thumb {
    background: var(--darkorange);
  }
  
  .cards-category::-webkit-scrollbar-track {
    background: var(--thumb);
  }
  
  @media (min-width: 500px) {
    .cards-category {
      grid-auto-columns: calc(50% - 10px);
      grid-column-gap: 20px;
    }
  }
  
  @media (min-width: 700px) {
    .cards-category {
      grid-auto-columns: calc(calc(100% / 3) - 20px);
      grid-column-gap: 30px;
    }
  }
  
  @media (min-width: 1100px) {
    .cards-category {
      grid-auto-columns: calc(25% - 30px);
      grid-column-gap: 40px;
    }
  }

  /* pagination */

  .pagination-wrapper{
    text-align: center;
  }

  .pagination {
    list-style: none;
    display: inline-block;
    padding-top: 30px;
    margin-top: 10px;
  }
  
  .pagination li {
    display: inline;
    text-align: center;
  }
  
  .pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #070707;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
  }
  
  .pagination a.active {
    cursor: default;
  }
  
  .pagination a:active {
    outline: none;
  }
  
  .modal-3 a {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
  }
  
  .modal-3 a:hover {
    background-color: #4dad16;
  }
  
  .modal-3 a.active,
  .modal-3 a:active {
    background-color: #37b247;
  }
  


  .zakat-class .h2{
    
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 25px;
      /* identical to box height, or 62% */
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.13px;
    }

    .bt-zakat{
      border : none;
      border-radius: 10px ;
      width: 365px;
      height: 60px;
    }

  .information-container{
    background: #6C6A6A;
    opacity: 0.6;
  }

  .information-container .title{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    align-items: center;
    text-align: center;
    letter-spacing: -0.13px;

  }

  .information-container .container h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.13px;

    color: #E9ECEB;
  }
  /* end index */

  /* halaman utama */

    .h-utama{
      background: #ffffff;
    }  
  
    .h-utama .banner{
      background: #C4C4C4;
      opacity: 0.6;
    }
  
    .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .banner .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-danako .banner-info{
      background: #EEF4E6;
  }


  /* style confirm email */

  .email-confirm {
    background-image: url('../img//bgcover.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .email-confirm .card {
    width: 885px;
    height: 546px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email-confirm .card img {
    object-fit: cover;
    border-radius: 15px;
  }
  
  .email-confirm h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    color: #1C913C;
  }

  .email-confirm p{
    width: 388px;
    height: 63px;
    left: 187px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  /* Media queries for smaller devices */
  @media (max-width: 768px) {
    .email-confirm .card {
      width: 90%;
      height: auto;
    }

    .email-confirm h2 {
      font-size: 40px;
      line-height: 48px;
    }

    .email-confirm p {
      width: 80%;
      font-size: 16px;
      line-height: 19px;
    }
  }

  /* Media queries for larger devices */
  @media (min-width: 1200px) {
    .email-confirm .card {
      width: 1100px;
    }

    .email-confirm h2 {
      font-size: 60px;
      line-height: 71px;
    }

    .email-confirm p {
      width: 450px;
      font-size: 20px;
      line-height: 23px;
    }
  }

  /* ajuan campaign */

 
  
  .c-notverifikasi .d-flex {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .c-notverifikasi .d-flex .title {
    text-align: center;
    width: 598px;
    height: 61px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  
  .konten{
    width: 406px; 
    height: 351px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 767px) {
    /* Adjust the size of the container to fit smaller screens */
    .c-notverifikasi {
      width: auto;
      height: auto;
      padding: 20px;
    }
  
    /* Adjust the size of the title */
    .c-notverifikasi .d-flex .title {
      width: 100%;
      height: auto;
    }
  
    /* Adjust the size of the images */
    .konten {
      width: 100%;
      height: auto;
    }
  }
  


  /* payment notifikasi */



  .konten-verifikasi{
    text-align: center;
    width: 598px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto; /* membuat konten berada di tengah */
  }
  
  /* aturan untuk layar dengan lebar maksimum 768px */
  @media only screen and (max-width: 768px){
    .konten-verifikasi{
      width: 90%;
      height: auto;
    }
  }
  
  /* aturan untuk layar dengan lebar maksimum 480px */
  @media only screen and (max-width: 480px){
    .konten-verifikasi{
      width: 100%;
    }
  }
  
  .konten-verifikasi .title-pending{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin: auto; /* membuat konten berada di tengah */
  
    /* aturan untuk layar dengan lebar maksimum 768px */
  
  }
  
  @media only screen and (max-width: 768px){
    .konten-verifikasi .title-pending{ 
      font-size: 20px;
    }
  
    }
  
    /* aturan untuk layar dengan lebar maksimum 480px */
    @media only screen and (max-width: 480px){
    .konten-verifikasi .title-pending{
      font-size: 18px;
    }
    }
  
  .konten-verifikasi .title-konten{
    width: 371px;
    height: 68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    letter-spacing: -0.24px;
    text-align: center; /* menengahkan teks */
    margin: auto; /* membuat konten berada di tengah */
  }
  
  /* aturan untuk layar dengan lebar maksimum 768px */
  @media only screen and (max-width: 768px){
    .konten-verifikasi .title-konten{
      width: 80%;
      height: auto;
    }
    }
  
    /* aturan untuk layar dengan lebar maksimum 480px */
    @media only screen and (max-width: 480px){
      .konten-verifikasi .title-konten{
      width: 90%;
      font-size: 14px;
      }
    }


    /* pending */

    
.c-notverifikasi .title h6{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
}


.c-notverifikasi .konten-verifikasi{
  text-align: center;
  width: 598px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: auto; /* membuat konten berada di tengah */
}

.c-notverifikasi .konten-verifikasi .title-pending{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin: auto; /* membuat konten berada di tengah */
}

.c-notverifikasi .konten-verifikasi .title-konten{
  width: 371px;
  height: 68px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* or 156% */
  letter-spacing: -0.24px;
  text-align: center; /* menengahkan teks */
  margin: auto; /* membuat konten berada di tengah */
}

@media only screen and (max-width: 768px){



  .c-notverifikasi .konten-verifikasi {
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .c-notverifikasi .konten-verifikasi .title-pending{
    font-size: 20px;
  }
  
  .c-notverifikasi .konten-verifikasi .title-konten{
    width: 80%;
    height: auto;
    font-size: 14px;
  }
}

/* aturan untuk layar dengan lebar maksimum 480px */
@media only screen and (max-width: 480px){
  .c-notverifikasi .konten-verifikasi {
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .c-notverifikasi .konten-verifikasi .title-pending{
    font-size: 18px;
  }
  
  .c-notverifikasi .konten-verifikasi .title-konten{
    width: 90%;
    font-size: 12px;
  }
}


/* detail campaign */

.job-details-text .job-card {
  background: #ffffff;
  border: 0;
  padding: 0;
  margin-bottom: 50px;
}

.job-details-text .job-card:hover {
  border: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.job-details-text .job-card .company-logo {
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.job-details-text .job-card .job-info h3 {
  font-size: 25px;
}

.job-details-text .job-card .job-info ul {
  margin-bottom: 6px;
}

.job-details-text .job-card .job-info ul li {
  display: inline-block;
  font-size: 18px;
  padding-right: 10px;
  font-weight: 500;
}

.job-details-text .job-card .job-info span {
  color: #fd1616;
  font-size: 16px;
  font-weight: 500;
}

.job-details-text .job-card .job-info span i {
  top: 4px;
  position: relative;
  font-size: 20px;
  display: inline-block;
}

.job-details-text .details-text {
  margin-bottom: 30px;
}

.job-details-text .details-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.job-details-text .details-text p {
  margin-bottom: 10px;
}

.job-details-text .details-text ul {
  padding-left: 0;
  margin-bottom: 0;
}

.job-details-text .details-text ul li {
  list-style: none;
  margin-bottom: 5px;
}

.job-details-text .details-text ul li i {
  top: 2px;
  position: relative;
  font-size: 20px;
  font-weight: 600;
}

.job-details-text .details-text .table {
  margin-bottom: 0;
}

.job-details-text .details-text .table tr {
  margin-bottom: 20px;
  display: block;
}

.job-details-text .details-text .table tr td {
  border-top: 0;
  padding: 0 0 10px 0;
  color: #707070;
}

.job-details-text .details-text .table tr td span {
  color: #001935;
  font-weight: 500;
}

.job-details-text .details-text .table tr td a {
  color: #707070;
}

.job-details-text .details-text .table tr:last-child td {
  padding-bottom: 0;
}

.job-details-text .details-text:last-child {
  margin-bottom: 0;
}

.job-details-text .theme-btn {
  margin-top: 20px;
}   

.job-sidebar {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
}

.job-sidebar h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.job-sidebar img {
  border-radius: 100px;
  margin-bottom: 10px;
}

.job-sidebar h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.job-sidebar span {
  font-size: 15px;
}

.job-sidebar iframe {
  height: 400px;
  width: 100%;
  margin-bottom: -10px;
}

.job-sidebar ul {
  padding-left: 0;
  margin-bottom: 0;
  text-align: left;
}

.job-sidebar ul li {
  display: inline-block;
  margin-bottom: 5px;
  list-style: none;
}

.job-sidebar ul li a {
  border: 1px dashed #ddd;
  padding: 5px 10px;
  color: #001935;
  display: inline-block;
  font-size: 16px;
}

.job-sidebar ul li a:hover {
  background: #fd1616;
  color: #ffffff;
}

.job-sidebar.social-share ul {
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
}

.job-sidebar.social-share ul li {
  display: inline-block;
  margin-bottom: 5px;
  list-style: none;
}

.job-sidebar.social-share ul li a {
  border: 0;
  padding: 0;
  border-radius: 10px;
}

.job-sidebar.social-share ul li a i {
  border: 1px solid #ddd;
  color: #001935;
  display: inline-block;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: red;
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.job-sidebar .social-share ul li a i:hover {
  color: #ffffff;
}


.job-sidebar .card-body {
  height: 500px;
  overflow-y: scroll;
  direction: rtl; /* Tambahkan properti ini */
}

.card ::-webkit-scrollbar {
  width: 8px;
}

.card ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.card ::-webkit-scrollbar-thumb {
  background-color: #4CAF50;
}

.card ::-webkit-scrollbar-thumb:hover {
  background-color: #3e8e41;
}

.border-bottom {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.border-bottom:hover {
  background-color: #B8D6A9;
}

.hide {
  display: none;
}

.card{

border: none;
cursor: pointer;
box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.card:hover{

background-color: #eee;

}

.ratings i{

color: orange;
}

.testimonial-list{

list-style: none;
}

.testimonial-list li{

margin-bottom: 20px;
}

.testimonials-margin{

margin-top: -19px;
}

.readmore{
  border: 0px;
  background-color: transparent;
  color: #4CAF50;
}

/* detail_campaign */
.border-start {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.border-start:hover {
  background-color: #B8D6A9;
}
  
  /* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* profile */

  

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}


.account-information {
  text-align: center;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.account-information .profile-thumb {
  padding: 20px;
}

.account-information .profile-thumb img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.account-information .profile-thumb h3 {
  margin-bottom: 12px;
}

.account-information .profile-thumb p {
  margin-bottom: 0;
  line-height: 1;
}

.account-information ul {
  padding-left: 0;
  margin-bottom: 0;
  text-align: left;
}

.account-information ul li {
  list-style: none;
}

.account-information ul li a {
  color: #707070;
  border-top: 1px dashed #ddd;
  display: block;
  padding: 10px 20px;
}

.account-information ul li a:hover {
  background: #79C121;
  color: #ffffff;
}

.account-information ul li a.active {
  background: #79C121;
  color: #ffffff;
}

.account-information ul li a i {
  top: 2px;
  position: relative;
  margin-right: 5px;
}

.account-details {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 30px 30px;
}

.account-details h3 {
  margin-bottom: 15px;
}

/* input */
.form-group.input-material {
  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;
  /* textarea label */
}
.form-group.input-material label {
  color: #b1bbc4;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  bottom: 1px;
  transition: 0.1s ease all;
  -moz-transition: 0.1s ease all;
  -webkit-transition: 0.1s ease all;
}
.form-group.input-material textarea.form-control ~ label {
  bottom: 90%;
  bottom: calc(100% - 38px);
}
.form-group.input-material .form-control, .form-group.input-material .form-select {
  border: none;
  border-bottom: 2px solid #ced4da;
  border-radius: 0px;
  background-color: transparent;
  padding-left: 5px;
  box-shadow: none;
  /* required fields */
  /* active state */
  /* invalid state */
}
.form-group.input-material .form-control:required ~ label::after, .form-group.input-material .form-select:required ~ label::after {
  content: "*";
  color: #79C121;
  padding-left: 2px;
  font-size: 0.8em;
}
.form-group.input-material .form-control:focus, .form-group.input-material .form-control[value]:not([value=""]), .form-group.input-material .form-select:focus, .form-group.input-material .form-select[value]:not([value=""]) {
  border-bottom-color: #007bff;
  color: #000;
}
.form-group.input-material .form-control:focus ~ label, .form-group.input-material .form-control[value]:not([value=""]) ~ label, .form-group.input-material .form-select:focus ~ label, .form-group.input-material .form-select[value]:not([value=""]) ~ label {
  top: unset;
  bottom: 100%;
  bottom: calc(100% - 16px);
  font-size: 14px;
  color: #007bff;
  font-weight: 500;
}
.form-group.input-material .form-control:focus.invalid, .form-group.input-material .form-control.invalid, .form-group.input-material .form-control:focus.parsley-error, .form-group.input-material .form-control[value]:not([value=""]).parsley-error, .form-group.input-material .form-select:focus.invalid, .form-group.input-material .form-select.invalid, .form-group.input-material .form-select:focus.parsley-error, .form-group.input-material .form-select[value]:not([value=""]).parsley-error {
  border-bottom-color: #79C121;
}
.form-group.input-material .form-control:focus.invalid ~ label, .form-group.input-material .form-control.invalid ~ label, .form-group.input-material .form-control:focus.parsley-error ~ label, .form-group.input-material .form-control[value]:not([value=""]).parsley-error ~ label, .form-group.input-material .form-select:focus.invalid ~ label, .form-group.input-material .form-select.invalid ~ label, .form-group.input-material .form-select:focus.parsley-error ~ label, .form-group.input-material .form-select[value]:not([value=""]).parsley-error ~ label {
  color: #79C121;
}
.form-group.input-material .form-select {
  background-position: right 0 center;
  padding-left: 0;
}
.form-group.input-material .parsley-errors-list {
  color: #79C121;
  list-style: none;
  font-size: 0.7em;
  padding-left: 5px;
  position: absolute;
  top: 107%;
}

.contact-h {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1C913C;
}
.contact .form-group {
    margin-bottom: 40px;
}
.contact .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 4px solid #00BCD4;
    box-shadow: none;
}
.contact .btn-primary {
    background-color: #1C913C;
    border-color: #1C913C;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.contact .btn {
    padding: 12px 15px;
}
.group {
    position: relative;
    margin-bottom: 45px;
}
input:focus {
    outline: none;
}
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #96c93d;
}
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before,
.bar:after {
    content: '';
    height: 4px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #96c93d;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}
.highlight {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active state */

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
.text-group textarea {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}
.text-group textarea:focus ~ .input-label,
.text-group textarea:valid ~ .input-label,
.text-group textarea.form-file ~ .input-label,
.text-group textarea.has-value ~ .input-label {
    font-size: 14px;
    ;
    color: gray;
    top: -1rem;
    left: 0;
}
.text-group textarea:focus ~ .input-label {
    color: #96c93d;
}
.text-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0;
}
.text-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 4.25rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 0.5rem 0.5rem 0.25rem;
  font-size: 18px;
  border: none;
  border-bottom: 4px solid #00BCD4;
  box-shadow: none;
  width: 100%;
  color: #999;
  cursor: pointer;
}

select:focus {
  outline: none;
}

select:focus ~ label,
select:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #96c93d;
}

select:focus ~ .bar:before,
select:focus ~ .bar:after {
  width: 50%;
}

option {
  font-size: 18px;
  color: #999;
}


/* buat campaign */


.f1-steps { 
  overflow: hidden; 
  position: relative; 
  margin-top: 20px; 
}

.f1-progress { 
position: absolute; 
top: 0; 
width: 3px; 
height: 100%; 
left: 48%; 
background: #ddd; 
}

.f1-progress-line { 
position: absolute; 
top: 0; 
left: 50%; 
width: 1px; 
height: 0; 
background: #338056; 
transform: translateX(-50%);
}

.f1-step { 
position: relative; 
width: 100%; 
margin-bottom: 30px;
}

.f1-step-icon {
display: inline-block; 
width: 40px; 
height: 40px; 
margin-right: 10px;
background: #ddd;
font-size: 16px; 
color: #fff; 
line-height: 40px;
text-align: center;
-moz-border-radius: 50%; 
-webkit-border-radius: 50%; 
border-radius: 50%;
}

.f1-step.activated .f1-step-icon {
background: #fff; 
border: 1px solid #338056; 
color: #338056; 
line-height: 38px;
}

.f1-step.active .f1-step-icon {
background: #338056;
color: #fff;
width: 48px; 
height: 48px; 
font-size: 22px; 
line-height: 48px;
}

.f1-step p { 
color: #ccc; 
}

.f1-step.activated p { 
color: #338056; 
}

.f1-step.active p { 
color: #338056; 
}

.f1 fieldset { 
display: none; 
text-align: left; 
}

.f1-buttons { 
text-align: right; 
}

.f1 .input-error { 
border-color: #f35b3f; 
}

@media only screen and (max-width: 767px) {
.f1-steps { overflow: hidden; position: relative; margin-top: 20px; }

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #338056; width: 100%; }

.f1-step { position: relative; float: left; width: 25%; padding: 0 5px; }

.f1-step-icon {
display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
font-size: 16px; color: #fff; line-height: 40px;
-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
background: #fff; border: 1px solid #338056; color: #338056; line-height: 38px;
}
.f1-step.active .f1-step-icon {
width: 48px; height: 48px; margin-top: 0; background: #338056; font-size: 22px; line-height: 48px;
}

.f1-step p { color: #ccc; }
.f1-step.activated p { color: #338056; }
.f1-step.active p { color: #338056; }

.f1 fieldset { display: none; text-align: left; }

.f1-buttons { text-align: right; }

.f1 .input-error { border-color: #f35b3f; }
}


.box-input{
box-sizing: border-box;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.37);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.files input {
outline: 2px dashed #92b0b3;
outline-offset: -10px;
-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
transition: outline-offset .15s ease-in-out, background-color .15s linear;
padding: 120px 0px 85px 35%;
text-align: center !important;
margin: 0;
width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
position: absolute;
top: 60px;
left: 0;
width: 50px;
right: 0;
height: 56px;
content: "";
background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
display: block;
margin: 0 auto;
background-size: 100%;
background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
position: absolute;
bottom: 10px;
left: 0;  pointer-events: none;
width: 100%;
right: 0;
height: 57px;
content: " or drag it here. ";
display: block;
margin: 0 auto;
color: #2ea591;
font-weight: 600;
text-transform: capitalize;
text-align: center;
}